@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
}
body{
   background: linear-gradient(90deg, rgba(0, 24, 77, 1) 0%, rgba(0, 53, 63, 1) 50%, rgba(0, 69, 65, 1) 100%);
color: white;
}
.container {
  margin-top: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  position: relative;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 80px;
}

.one {
  border-right: 2px solid cyan;
  border-bottom: 2px solid cyan;
}

.two {
  border-left: 2px solid cyan;
  border-bottom: 2px solid cyan;
  border-right: 2px solid cyan;
}

.three {
  border-left: 2px solid cyan;
  border-bottom: 2px solid cyan;
}

.four {
  border-top: 2px solid cyan;
  border-right: 2px solid cyan;
  border-bottom: 2px solid cyan;
}

.five {
  border: 2px solid cyan;
}

.six {
  border-top: 2px solid cyan;
  border-left: 2px solid cyan;
  border-bottom: 2px solid cyan;
}

.seven {
  border-top: 2px solid cyan;
  border-right: 2px solid cyan;
}

.eight {
  border-right: 2px solid cyan;
  border-top: 2px solid cyan;
  border-left: 2px solid cyan;
}

.nine {
  border-left: 2px solid cyan;
  border-top: 2px solid cyan;
}



.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}

.button button[type=button] {
  font-size: 50px;
  margin: 40px;
  border: 1px solid cyan;
  padding: 8px;
  box-shadow: 0px 0px 1px 0.125px cyan;
  background-color: white;
}

.container1 {
  border: 1px solid transparent;
  position: absolute;
  top: 69px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  left: 50%;
  transform: translateX(-50%);
}


.box button[type=button] {
  opacity: 0%;
  border:0px;
  font-size: 80px;
  background-color: white;
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#score{
    font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
.result p{
  margin-top: 20px;
}
.result button[type=button]{
  padding: 5px;
  margin-top: 10px;
  background-color: cyan;
  border: 1px solid cyan;
}

.onebtn {
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.twobtn {
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.threebtn {
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.fourbtn {
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.fivebtn {
  border: 2px solid transparent;
}

.sixbtn {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.sevenbtn {
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}

.eightbtn {
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.ninebtn {
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
}


